.header {
    padding: $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @each $biome in $biomes {
        .biome--#{$biome} & {
            border-bottom: 2px solid darken(map-get($grid-background-color, $biome), 20%);
            background-color: darken(map-get($grid-background-color, $biome), 10%);
        }
    }

    h1 {
        margin: 0;
    }
}