.main {
    padding: $main-padding;
    display: flex;
    justify-content: center;
    align-items: center;

    @each $biome in $biomes {
        .biome--#{$biome} &{
            background-color: map-get($grid-background-color, $biome);
        }
    }

    .zoo__wrap {
        width: 100%;
        max-width: 700px;
    }
}